<p>&nbsp;</p><hr />
<h3 class="text-center"><strong>Print</strong></h3>
<hr />
<p>&nbsp;</p>  <div class="row">
  <div class="col-lg-8">
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="upload" [(ngModel)]="canUpload" value="true">Upload
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="authentication" [(ngModel)]="canAuthenticate" value="false" >Authentication
      </label>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="form-group" *ngIf="canUpload">
      <div class="row">

        <div class="col-md-3">

          <h3>Select files</h3>

          <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="well my-drop-zone">
            Base drop zone
          </div>
        </div>

        <div class="col-md-7" style="margin-bottom: 40px">

          <h3>Upload queue</h3>
          <p>Queue length: {{ uploader?.queue?.length }}</p>

          <table class="table">
            <thead>
            <tr>
              <th width="50%">Name</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td nowrap>
                <button type="button" class="btn btn-success btn-xs"
                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-warning btn-xs"
                        (click)="item.cancel()" [disabled]="!item.isUploading">
                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        (click)="item.remove()">
                  <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>
    <div class="form-group" *ngIf="canAuthenticate">
      <div class="row">
        <div class="col-sm-4">
          <label>User Name</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Enter UserName"
                 [(ngModel)]="printRequest.Authentication.User">
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="canAuthenticate">
    <div class="row">
      <div class="col-sm-4">
        <label>Password</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Enter Password"
               [(ngModel)]="printRequest.Authentication.Password">
      </div>
    </div>
  </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <label>File Path:</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Enter File path eg. https://xyz.com/image.jpg"
                 [(ngModel)]="printRequest.Print.FilePath">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <label>Number of Copies:</label>
        </div>
        <div class="col-sm-8">
          <input type="number" class="form-control" placeholder="Enter number of copies"
                 [(ngModel)]="printRequest.Print.NumCopies">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <label>Color Mode</label>
        </div>
        <div class="col-sm-8">
          <select [(ngModel)]="printRequest.Print.ColorMode" class="form-control" >
            <option *ngFor="let option of colorModeList; index as i">{{option}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <label>Feed Tray</label>
        </div>
        <div class="col-sm-8">
          <select [(ngModel)]="printRequest.Print.FeedTray" class="form-control" >
            <option *ngFor="let option of feedTrayList; index as i">{{option}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <label>Page Size</label>
        </div>
        <div class="col-sm-8">
          <select [(ngModel)]="printRequest.Print.PaperSize" class="form-control" >
            <option *ngFor="let option of pageSizeList; index as i">{{option}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-primary float-right" (click)="send()"
              [disabled]="!printRequest.Print.FilePath">Send</button>
      <button class="btn btn-outline-primary float-right reset" (click)="reset()">Reset</button>
    </div>
  </div>

  <app-request-response [request]="printRequest" [response]="result"></app-request-response>
</div>
