<!--
*************************************
Third senario to ask for password
*************************************
-->

<p>&nbsp;</p><hr />
<h3 class="text-center"><strong>Password Protection&nbsp;</strong></h3>
<hr />
<p>&nbsp;</p>  <div class="row">
  <div class="col-sm-7">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter Password" [(ngModel)]="password">
      <div class="input-group-append">
        <button class="btn btn-success" type="submit" (click)="applyPassword()">Send</button>
      </div>
    </div>
  </div>
</div>
<app-request-response [request]="passwordRequest" [response]="result"></app-request-response>
